/* Google-Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ------------------------------------------------------------ */
/* Dark Mode Colors */
:root
{
    --text-color:#e3e3e3;
    --subheading-color:#828282;
    --placeholder-color:#a6a6a6;
    --primary-color:#242424;
    --secondary-color:#383838;
    --secondary-hover-color:#444;
}
/* light Mode Colors */
.light_mode
{
    --text-color:#222;
    --subheading-color:#A0A0A0;
    --placeholder-color:#6C6C6C;
    --primary-color:#fff;
    --secondary-color:#E9EEF6;
    --secondary-hover-color:#DBE1EA;
}
/*------------------------------------------------------------- */
/* style */
*
{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
}
body {
   background-color: var(--primary-color);
}
.header, .typing-area
{
    color: var(--text-color);
}

.header, .chat-list .message,.typing-form 
{
    max-width: 1100px;
    margin: 0 auto;
}
.header
{
    margin-top: 7vh;
    padding: 16px;
    /* display: none; */
}
body.hide-header .header
{
    display: none;
    margin-top: 0;
}
    .header:where(.title,.subtitle)
    {
        font-weight: 500;
        line-height: 58px;
    }
.header .title
{
    font-size: 44px;
    background-clip: text;
    background: linear-gradient(to right, #4285f4,#d96570);
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent !important;
}
.header .subtitle
{
  font-size: 39px;
  color: var(--subheading-color);  
}
/* suggestation-list */
.header .suggestation-list
{
    margin-top: 9.5vh;
    list-style-type: none;
    display: flex;
    gap:24px;
    overflow-x: auto;
    scrollbar-width: none !important;
}
.header .suggestation-list .suggestation
{
    padding: 20px;
    cursor: pointer;
    width: 227px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-radius:12px;
}
.header .suggestation-list .suggestation:hover
{
    background-color: var(--secondary-hover-color);
}
.header .suggestation-list .suggestation .text
{
    font-weight: 400;
    
}
.header .suggestation-list .suggestation .icon
{
    width: 42px;
    height: 42px;
    background: var(--primary-color);
    font-size: 21px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* chat-list */
.chat-list
{
    padding: 2rem 1rem 12rem;
    max-height:100vh;
    overflow-y: auto;
    scrollbar-color: #999 transparent;
}
.chat-list .message.incoming
{
    margin-top: 1.5rem;
}
.chat-list .message .message-content
{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}
.chat-list .message .avatar
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    align-self: flex-start;
    
}    
.chat-list .message.loading .avatar
{
    animation: rotate 3s linear infinite;
}

@keyframes rotate
{
    100%
    {
        transform: rotate(360deg);
    }
}
.chat-list .message .text
{
    color: var(--text-color);
}
.chat-list .message .text .error
{
    color: #e55865;
}
.chat-list .message.loading .text
{
    display: none;
}

.chat-list .message .icon
{
    width: 35px;
    height: 35px;
    color: var(--text-color);
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 3.5rem;
    font-size: 1.25rem;
    visibility: hidden;
}
.chat-list .message:not(.loading):hover .icon:not(.hide)
{
    visibility: visible;
}
.chat-list .message .icon:hover
{
    background: var(--secondary-color);
}
/* loading indicator */

.chat-list .loading-indicator 
{
    display: none;
    width: 100%;
    gap: 0.8rem;
    flex-direction: column;
}
.chat-list .message.loading .loading-indicator
{
    display: flex;
}
.chat-list .loading-indicator .loading-bar
{
    height: 12px;
    width: 100%;
    border-radius: 0.14rem;
    background: linear-gradient(to right, #4285f4,var(--primary-color),#4285f4);
    animation: animation 3s linear infinite;
}
.chat-list .loading-indicator .loading-bar:last-child
{
    width: 70%;
}

@keyframes animation
{
    0%
    {
        background-position: -800px 0;
    }
    100%
    {
        background-position: 800px 0;
    }
}
/* typing-area */

.typing-area 
{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    background: var(--primary-color);
}

.typing-area :where(.typing-form,.action-buttons)
{
    display: flex;
    gap: 12px;
}
.typing-area .input-wrapper
{
    height: 56px;
    width: 100%;
    display: flex;
    position: relative;
}
.typing-area .typing-input
{
 width:100%;
 height: 100%;  
 font-size: 16px; 
 color: var(--text-color);
 border: none !important;
 outline: none !important;
 background: var(--secondary-color);
 border-radius: 6.2rem;
 padding: 18px 64px 18px 24px;
}
.typing-area .typing-input:focus
{
    background: var(--secondary-hover-color);
}
.typing-area .typing-input::placeholder
{
    color: var(--placeholder-color);
}
.typing-area .icon
{
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
}

.typing-area .input-wrapper .icon:hover{
    background: var(--secondary-hover-color) !important;
}
.typing-area .input-wrapper .icon
{
    position: absolute;
    right: 0;
    outline: none !important;
    border: none !important;
    background: none !important;
    color: var(--text-color);
    transform: scale(0);
    transition: transform 0.3s ease;
}

.typing-area .input-wrapper .typing-input:valid ~ .icon
{
    transform: scale(1);
}
.typing-area .disclaimer-text
{
    font-size: 0.85rem;
    margin-top: 1rem !important;
    text-align: center;
    color: var(--placeholder-color);
}

/* responsive design */

@media (max-width: 768px) {
    .header :is(.title,.subtitle) 
    {
        font-size: 2rem ;
        line-height: 2.6rem;
    }
    .header .subtitle {
        font-size: 1.7rem;
    }
    .chat-list .message .avatar {
        width: 37px;
        height: 37px;
    }
    .typing-area :where(.typing-form ,.actions-button)
    {
        gap: 0.4rem;
    }
    .typing-form .typing-wrapper
    {
        height: 50px;
    }
    .typing-form .typing-input
    {
        padding: 1.1rem 3.5rem 1.1rem 1.2rem;
    }
    .typing-area .icon
    {
        width: 50px;
        height: 50px;
    }
    .typing-area .disclaimer-text
    {
        font-size: 0.75rem;
        margin-top: 0.5rem;
    }
}